/* custom CSS here font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;

*/

:focus,
a:focus {
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a {
    color: #646c70;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #8c8c8c;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

::selection {
    background: #1e206f;
    color: #fff;
    text-shadow: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300
}

.childpage .page {
    overflow: hidden;
    min-height: 100%;
}

header.header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    padding: 27px 0;
    z-index: 999;
}

.page {
    min-height: 100%;
}

.logo img {
    max-width: 100%;
}

.logo {
    float: left;
    width: 9%;
}

.wrapmenu {
    float: right;
    width: 91%;
    padding-top: 20px;
    text-align: right;
}


/*Reset boostrap*/

.page-header {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px 0px 40px 0px;
    border: none;
}

.grp-breadcums {
    background: rgba(230, 230, 230, 0.7);
    text-align: left;
    padding: 10px 0px;
    left: 0;
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px
}

ol.breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
    font-weight: normal;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
}

ol.breadcrumb a {
    color: #bbbbbb
}

ol.breadcrumb a:hover {
    color: #000000;
    text-decoration: none;
}

.breadcrumb>li+li:before {
    content: "\f101";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    color: #909090;
    margin: 0 4px;
}

.breadcrumb>.active {
    color: #000000;
    font-weight: bold;
}

textarea.form-control {
    height: 243px;
    overflow: auto;
    resize: none;
    padding-top: 13px;
}

.form-control:focus {
    border-color: #b82028;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0);
}

.form-control {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    height: 50px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.box-detail img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}


/*For paging*/

ul.pagination {
    margin: 0px 0px 40px;
    padding: 0;
    display: block;
    text-align: right;
}

.pagination>li>a,
.pagination>li>span {
    border-radius: 0 !important;
    font-size: 13px;
    color: #646c70;
    font-weight: normal;
    width: 28px;
    height: 28px;
    line-height: 26px;
    padding: 0;
    text-align: center;
}

.pagination>li {
    display: inline-block;
    vertical-align: middle;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background: #b82028;
    color: #fff;
    border-color: #b82028
}

li.arrow-pagin a:hover {
    background: #b82028;
    color: #fff;
    border-color: #b82028
}


/*reset slick*/

button.slick-prev.slick-arrow {
    left: 30px;
}

.page_mainslider button.slick-arrow:hover {
    opacity: 0.5;
}

button.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    height: 25px;
    outline: none;
    border: none;
    font-size: 0;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    z-index: 99;
    color: #fff;
}

.page_mainslider button.slick-arrow {
    background: url(../img/arr-1.png) no-repeat;
}

button.slick-arrow.slick-next {
    background: url(../img/arr-2.png) no-repeat;
}

button.slick-next.slick-arrow {
    right: 30px;
}

.page_mainslider button.slick-arrow:after {
    display: none;
}

button.slick-arrow:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px
}

button.slick-next.slick-arrow:after {
    content: "\f105";
}

button.slick-prev.slick-arrow:after {
    content: "\f104";
}


/*dot-square*/


/*ul.slick-dots button{font-size:0;background:none;border:none;}
ul.slick-dots li{display:inline-block;vertical-align:middle;width:30px;height:3px;background:#707070;margin:0 6px;cursor:pointer;}
ul.slick-dots{margin:0;padding:0;list-style:none;text-align:center;}
ul.slick-dots li.slick-active{background:#ffe200}*/


/*dot-cricle*/

ul.slick-dots button {
    font-size: 0;
    background: none;
    border: none;
}

ul.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}

ul.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

ul.slick-dots li:after {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 1px solid rgba(255, 255, 255, 0);
    position: absolute;
    content: '';
    border-radius: 50%;
}

ul.slick-dots li.slick-active {
    background: #fff
}

ul.slick-dots li.slick-active:after {
    border: 1px solid rgba(255, 255, 255, 1);
}


/*Document*/

.document hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #e8e8e8;
}

.document p strong {
    color: #434343;
}

.document p {
    line-height: 24px;
    margin-bottom: 30px;
}

.document {
    font-size: 16px;
}

.document h4 {
    color: #212121;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.document h5 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}

.document h3 {
    color: #36464e;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin-top: 0
}

.document img {
    max-width: 100%;
}

.document li {
    position: relative;
    padding-left: 22px;
    margin-bottom: 8px;
    line-height: 24px
}

.document ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.document li:before {
    content: "•";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 3px;
    left: 0;
}

.img-ab:after {
    position: absolute;
    content: '';
    border: 12px solid #232020;
    top: -52px;
    left: -30px;
    right: 30px;
    bottom: 89px;
    background: #fff;
}

.img-ab {
    position: relative;
    float: right;
    margin-left: 51px;
}

.img-ab img {
    position: relative;
    z-index: 999;
}

img.imgright {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 9px;
    max-width: 100%
}

.document a strong:hover {
    text-decoration: underline;
}


/*table*/

.tbl-cell {
    vertical-align: middle;
    display: table-cell;
}

.tbl-full {
    display: table;
    width: 100%;
    height: 100%;
}

table.table-cnt {
    width: 100%;
    margin-top: 30px;
    color: #121212;
}

table.table-cnt th {
    font-size: 18px;
    font-weight: bold;
    padding: 13px;
    color: #121212;
    background: #e8e8e8;
    border: 1px solid #dbdbdb;
}

span.text-td {
    display: inline-block;
    width: 115px;
}

span.text-td1 {
    display: inline-block;
    width: 12px;
}

table.table-cnt h4 {}

table.table-cnt td:first-child {}

table.table-cnt td {
    border: 1px solid #dbdbdb;
    padding: 18px;
}

table.table-cnt td:first-child p {}

table.table-cnt p {}

table.table-cnt a {
    text-decoration: underline;
}

table.table-cnt a:hover {
    color: #333
}


/*scroll top*/

.to-top {
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: -100px;
    z-index: 9999;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fcca03;
    color: rgb(72, 72, 72);
}

.to-top .fa {
    line-height: 35px;
}


/*for menu*/

.mainmenu ul li {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 11px;
    position: relative;
}

.mainmenu ul li.active>a {
    text-decoration: none;
    color: #bc0808;
}

.mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.mainmenu {
    display: inline-block;
    vertical-align: top;
    vertical-align: middle;
}

.mainmenu ul li span {
    display: inline-block;
    margin-right: 4px;
}

.mainmenu ul li a {
    font-size: 12px;
    color: #000000;
    font-weight: 300;
    padding-bottom: 9px;
    position: relative;
}

.mainmenu ul li:hover a {
    text-decoration: none;
    color: #bc0808;
}

.mainmenu ul li:hover a:after,
.mainmenu ul li.active>a:after {
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mainmenu ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #bc0808;
    height: 3px;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.mainmenu ul li:hover ul.sub {
    display: block;
}

.mainmenu ul.sub li a {
    display: block;
    color: #fff;
    padding: 15px;
}

ul.sub li a:hover {
    background: #b82028;
    color: #fff
}

ul.sub li {
    display: block;
    text-align: left;
    padding: 0;
}

ul.sub {
    position: absolute;
    display: none;
    width: 230px;
    background: rgba(54, 70, 78, 0.8);
    top: 26px;
    z-index: 999;
}

.btn-menu {
    display: none;
}

.btn-menu {
    border-radius: 2px;
    color: #fff !important;
    height: 30px;
    font-size: 0;
    line-height: 1;
    position: fixed;
    top: 38px;
    right: 15px;
    text-transform: uppercase;
    width: 30px;
    vertical-align: middle;
    z-index: 5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.active-menu .burger-icon-3 {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    top: -8px;
}

.active-menu .burger-icon-2 {
    opacity: 0;
}

.active-menu .burger-icon-1 {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
}


/*for slider++*/

.page_mainslider .bgslider {
    background-size: cover;
    background-repeat: no-repeat;
}

.page_mainslider .bgslider {
    min-height: 700px;
    position: relative;
}

.page_mainslider img.bgimg {
    display: none;
}

.page_mainslider {
    position: relative;
}

.page_mainslider img {
    width: 100%
}

.page_mainslider .container {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    color: #232020;
}

.page_mainslider .infobanner {
    min-height: 600px;
}

.page_mainslider .infobanner {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.des-info h4 {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
    line-height: 1;
}

.des-info p {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
}

.des-info {
    max-width: 700px;
    position: relative;
    float: right;
}

.link-slider {
    color: #232020;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.link-slider:after {
    content: "\f0a9";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
}

.link-slider:hover {}

.slick-active .des-info:after {
    -webkit-animation: fadeInLeft .8s;
    -moz-animation: fadeInLeft .8s;
    -o-animation: fadeInLeft .8s;
    animation: fadeInLeft .8s;
}

.slick-active .des-info h4 {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.slick-active .des-info p {
    -webkit-animation: fadeInLeft 1.1s;
    -moz-animation: fadeInLeft 1.1s;
    -o-animation: fadeInLeft 1.1s;
    animation: fadeInLeft 1.1s;
}

.slick-active .des-info a {
    -webkit-animation: fadeInLeft 1.2s;
    -moz-animation: fadeInLeft 1.2s;
    -o-animation: fadeInLeft 1.2s;
    animation: fadeInLeft 1.2s;
}


/*Footer*/

footer.footer li {
    display: inline-block;
    vertical-align: middle;
    padding: 0
}

footer.footer li.active a {
    color: #fff;
}

footer.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-size: 12px;
    margin-top: 26px;
}

footer.footer li:before {
    content: "|";
    display: inline-block;
    margin: 0 9px;
}

footer.footer li:first-child:before {
    display: none;
}

footer.footer h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
}

.footer a:hover {
    color: #fff
}

.footer a {
    color: #fff;
}

.footer {
    padding-top: 30px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background: #bc0808;
    padding-bottom: 30px;
}

.col-f1 {
    float: left;
    width: 10%;
    padding-top: 5px;
}

.col-f2 {
    float: left;
    width: 75%;
}

.col-f2 p strong {
    color: #fff;
    font-weight: bold;
}

.col-f3 {
    float: right;
    width: 15%;
    text-align: right;
}

.share a:hover {
    background: rgba(230, 230, 230, 1);
    color: #000;
}

.share a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    margin-left: 13px;
    color: #fff;
}


/*banner-innder*/

.page-banner {
    position: relative;
    min-height: 100px;
}

.page-banner img {
    width: 100%;
    position: relative;
    max-width: 100%
}

.grp-breadcums .container {
    position: relative !important;
    background: none !important;
}

.page-banner .container {
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    color: #fff;
}

.page-banner .inner-banner {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.inner-banner h4 {
    font-size: 60px;
    margin: 0;
    color: #232020;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display', serif;
}


/*contact*/

.cnt-right {
    float: right;
    width: 57%;
}

.form-cnt {
    color: #525252;
    font-weight: normal;
    margin-top: -10px;
}

.form-style {
    margin-top: 23px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.form-cnt .form-item .form-ipt input.form-control {
    height: 32px;
    background: #efefef;
    border-color: #d0d0d0;
}

.form-cnt .form-item .form-ipt .form-control:focus {
    border-color: #000
}

.form-cnt .form-item .form-ipt {
    margin-left: 210px;
}

.form-cnt .form-item label {
    font-weight: normal;
    /* display: inline-block; */
    width: 200px;
    float: left;
    margin-top: 6px;
    position: relative;
    padding-right: 20px
}

.form-cnt textarea.form-control {
    height: 160px;
    background: #efefef;
    border-color: #d0d0d0;
}

span.sys {
    position: absolute;
    right: 20px;
    top: 0px;
}

.form-cnt .form-item {
    clear: both;
    margin-bottom: 26px;
    margin-top: 15px;
}

.form-cnt p {
    line-height: 24px;
}

.form-cnt h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    color: #212121;
    margin-top: 0
}

.form-cnt .btn-sm {
    outline: none;
    padding: 14px 34px;
    background: #232020;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.1px;
    border-radius: 0;
}

.form-cnt .btn-sm:hover {
    background: #8c8c8c
}

.form-cnt .grp-btn {
    margin-top: 6px;
    display: inline-block;
    width: 35%;
    float: right;
    text-align: right;
}

.box-capcha {
    display: inline-block;
    width: 64%;
}

.form-cnt img {
    max-width: 100%
}


/*address contact page*/

.grp-contact-page {
    margin-top: 50px;
}

.box-address img {
    max-width: 100%;
}

.cnt-left {
    float: left;
    width: 43%;
    padding-right: 27px;
}

.info-adress {
    border: 1px solid #d0d0d0;
    padding: 25px;
    border-top: none;
}

.info-adress a {
    color: #525252
}

.info-adress a.v-more span,
.info-adress a.v-more:before {
    padding: 15px 20px;
}

.info-adress a:hover {
    color: #000
}

td.icon-cnt span {
    width: 25px;
    height: 25px;
    background: #888888;
    display: block;
    text-align: center;
    line-height: 25px;
    margin-right: 8px;
}

.box-address td.icon-cnt {
    width: 30px;
    color: #fff;
}

.box-address td {
    vertical-align: middle;
    padding-bottom: 20px;
    font-size: 12px;
    color: #525252;
    font-weight: normal;
}

.box-address table {
    width: 100%;
}

.box-address h4 {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}

.box-address {}


/*Map*/

div#content p {
    margin: 0;
}

div#content h1 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.map_canvas {
    margin-top: 30px;
}


/*PDPA*/

.widget-pdpa {
    margin-top: 40px;
    margin-bottom: 20px
}

.widget-pdpa strong {
    font-weight: bold;
    color: #000;
}

.widget-pdpa span {
    font-weight: 600;
    color: #df0024;
}

.widget-pdpa {
    background: url(../img/tempt/bg-pdpa.jpg) no-repeat;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    color: #fff;
    font-weight: normal;
    background-size: cover;
}

.widget-pdpa h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
}


/*Sub menu*/

.mb-tab {
    display: block;
}

ul.menuchild li a:after {
    position: absolute;
    content: "\f105";
    right: 0;
    top: 18px;
    font: normal normal normal 14px/1 FontAwesome;
}

ul.menuchild li:first-child a {
    border-top: none;
}

ul.menuchild li a {
    font-size: 14px;
    color: #7d7d7d;
    border-top: 1px solid #dbdbdb;
    display: block;
    padding: 14px;
    position: relative;
}

ul.menuchild li a:hover,
ul.menuchild li.active a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

ul.menuchild li {
    list-style: none;
}

ul.menuchild {
    margin: 0;
    padding: 0px 10px;
    list-style: none;
    border: 1px solid #e8e8e8;
}

ul.menuchild.menuother {
    border: none;
    padding: 0;
}

ul.menuchild.menuother li a {
    padding-left: 0;
    text-transform: initial;
}


/*Thank -you*/

.mainpage.thank-page {
    background: url(../img/tempt/thank-you.jpg) no-repeat bottom left
}

.widget-thankyou {}

.widget-tk-img {
    float: left;
    width: 60%;
}

.widget-tk-img img {
    max-width: 100%
}

.widget-tk-info {
    margin-top: 71px;
    margin-left: 300px;
}

.widget-tk-info h4 {
    font-size: 60px;
    color: #232020;
    font-weight: bold;
    margin: 0;
}

.widget-tk-info h5 {
    font-size: 30px;
    color: #4b4b4b;
    font-weight: bold;
    margin: 0;
    letter-spacing: -.5px;
    padding-bottom: 40px
}

.widget-tk-info p {
    color: #373737;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.widget-tk-info a {
    margin-right: 6px;
    margin-bottom: 5px;
}

.widget-tk-info a.v-more span,
.widget-tk-info a.v-more:before {
    padding: 16px 19px;
}

.widget-thankyou .thank-adress {
    border-top: 1px solid #cfcfcf;
    padding-top: 30px;
    margin-top: 30px;
}

.widget-thankyou .thank-adress table {
    width: 100%
}

.widget-thankyou .thank-adress td {
    vertical-align: top;
    font-weight: normal;
    color: #6e6e6e;
}

.widget-thankyou .thank-adress td a {
    color: #097abf;
    text-decoration: underline;
}

.widget-thankyou .thank-adress td a:hover {
    color: #000
}

.widget-thankyou .thank-adress td p i {
    margin-right: 3px;
    color: #232020;
    display: table-cell;
    vertical-align: top;
    padding-top: 4px;
    padding-right: 6px;
    width: 20px;
}

.widget-thankyou .thank-adress td span {
    display: table-cell;
}

.widget-thankyou .thank-adress td p {
    margin: 0;
    color: #6e6e6e
}

.mainhome {
    margin-top: 80px;
    padding-bottom: 60px;
}

.box1-img img {
    max-width: 100%;
}

.box1-img {
    float: right;
    margin-bottom: -170px;
    width: 50%;
    z-index: 9;
    position: relative;
    padding-top: 6px;
}

.box1-left {
    width: 50%;
}

.t-header-1 h1 {
    font-size: 60px;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0;
}

.t-header-1 p {
    font-size: 36px;
    color: #3a3a3a;
    margin: 0;
    font-family: 'Playfair Display', serif;
    margin-top: -5px;
}

.t-header-1 {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px;
    margin-bottom: 25px;
    padding-right: 10px
}

.box1-info {
    font-size: 20px;
    color: #8c8c8c;
    font-weight: normal;
    padding-right: 65px;
    line-height: 33px;
}

.box1-info p {
    margin-bottom: 30px;
}

.box1 img,
.box2 img {
    max-width: 100%
}

a.v-more {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.effect-button {
    overflow: hidden;
}

.effect-button {
    position: relative;
    z-index: 1;
}

.effect-button:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #8c8c8c;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-25%);
}

a.v-more span,
a.v-more:before {
    padding: 11px 25px;
}

.effect-button span {
    display: block;
    background: #bc0808;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.effect-button:hover::before,
.effect-button:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

.effect-button:hover span,
.effect-button:focus span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

.grid1-info p {
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.grid1-info h4 span {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 22px;
}

.grid1-info h4:after {
    width: 100%;
    height: 1px;
    background: #d5d5d5;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    top: 50%;
}

.grid1-info h4 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-top: 24px;
    position: relative;
    margin-bottom: 15px;
}

.grid1-item .grid1-img img {
    max-width: 100%;
}

.grid1-item .grid1-img {
    position: relative;
}

.grid1-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    margin-bottom: 25px;
}

.grid1 {
    margin-top: 60px;
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.grid1-info {
    position: relative;
    padding-bottom: 30px;
}

.r-more {
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 3px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
}

.grid1-item:hover .r-more {
    color: #bc0808
}

.grid1-item:hover .r-more:before,
.r-more:hover:before {
    background: #bc0808
}

.r-more:after {
    content: "\f101";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 4px;
}

.r-more:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    content: '';
    bottom: 0;
}

span.hover:after {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #fff;
    content: '';
    display: block;
    z-index: 999;
    position: absolute;
}

span.hover:before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: url(../img/icon-z.png) no-repeat center center;
    content: '';
    display: block;
    z-index: 999;
    position: absolute;
}

span.hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.grid1-item:hover span.hover {
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.over-link {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainpage {
    padding-top: 50px;
}

.maincontent {
    margin-top: 40px;
}

.t-header-4 {
    font-size: 18px;
    background: #000;
    padding: 14px 18px;
    color: #fff;
    font-weight: 900;
    margin: 0;
}

.t-header-2 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    color: #3a3a3a;
    font-size: 36px;
    font-weight: bold;
}

.t-header-3 {
    color: #8c8c8c;
    font-size: 18px;
    margin-bottom: 30px;
}

.avd-left {
    position: relative;
    margin-top: 30px;
}

.avd-left img {
    max-width: 100%;
}

.info-adv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 20px;
}

.info-adv a.v-more span,
.info-adv a.v-more:before {
    padding: 15px 20px;
}

.info-adv h4 {
    font-size: 36px;
    color: #3a3a3a;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding-bottom: 20px;
}

.page-career {
    background: url(../img/career-bg.jpg) no-repeat right bottom;
}

.box-career-info .panel-group {
    margin-top: 40px;
}

.box-career-info {
    max-width: 600px;
}

.panel-group .panel {
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border: 1px solid #dbdbdb;
    border-radius: 0;
}

.panel-default>.panel-heading {
    border-radius: 0 !important;
    padding: 0;
    background: none;
    border-color: #dbdbdb;
}

h4.panel-title a {
    font-size: 16px;
    color: #434343;
    position: relative;
    display: block;
    padding: 16px 24px;
    background: none;
    font-weight: bold;
}

h4.panel-title a {
    text-decoration: none;
}

span.icon-tab {
    position: absolute;
    right: 40px;
    top: 15px;
}

.panel-body {
    background: #f9f9f9;
    padding-left: 35px;
    padding-right: 35px;
}

.panel-body.document strong {
    color: #434343;
}

.panel-body.document {
    font-size: 14px;
    color: #434343;
}

h4.panel-title a.collapsed span.icon-tab .fa-caret-down:before {
    content: "\f0da";
}

h4.panel-title a:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 5px solid #dbdbdb;
}

h4.panel-title span.avatar:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 5px solid #dbdbdb;
    border-radius: 50%
}

h4.panel-title a.collapsed:after {
    border: none;
}

h4.panel-title a.collapsed span.avatar:after {
    border: none;
}

h4.panel-title a.collapsed span.avatar:before {
    content: '';
    height: 49px;
    top: 27px;
    right: -7px;
}

h4.panel-title span.avatar:before {
    content: '';
    width: 15px;
    background: #ffffff;
    height: 39px;
    position: absolute;
    top: 32px;
    right: -4px;
    z-index: 99;
}

.grid-2 {
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
}

.grid-2-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 40px
}

.grid-2-info a {
    color: #d32a2a;
}

.grid-2-info a:hover {
    color: #000
}

.grid-2-img {
    display: table-cell;
    vertical-align: top;
    width: 100px;
}

.grid-2-info {
    display: table-cell;
    vertical-align: top;
}

.grid-2-info h4 {
    font-size: 18px;
    font-weight: 900;
    color: #3a3a3a;
    margin-top: 0;
}

.grid-2-info p {
    line-height: 24px;
}

.grid-2-info p strong {
    color: #3a3a3a
}

.grid-5 {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.grid-5-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 15px;
}

.grid-5-img {
    position: relative;
    overflow: hidden;
}

.grid-5-img img {
    max-width: 100%;
    width: 100%;
}

.grid-5-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
    color: #fff;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    -webkit-transition: all 0.33s ease 0s;
    -o-transition: all 0.33s ease 0s;
    transition: all 0.33s ease 0s;
    margin: 0 auto;
}

.grid-5-item h4 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
}

.grid-5-des-hide a {
    position: relative;
    color: #fff;
    margin-top: 33px;
    letter-spacing: 3px;
}

.grid-5-des-hide a.r-more:before {
    background: #fff
}

.grid-5-des-hide {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    text-align: center;
    color: #fff;
    border: 10px solid #000000;
    background: rgba(35, 32, 32, 0.6);
    -webkit-transition: all 0.33s ease 0s;
    -o-transition: all 0.33s ease 0s;
    transition: all 0.33s ease 0s;
}

.grid-5-item:hover .grid-5-des-hide {
    bottom: 0;
    height: 100%
}

.grid-5-item:hover .grid-5-info {
    width: 0;
    height: 0
}

.grid-5-item .tbl-cell {
    padding: 5px
}

.silder-prj img {
    max-width: 100%;
    height: auto
}

.silder-prj button.slick-arrow,
.silder-prj button.slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background: #fff;
    border-radius: 0;
    color: #231f20
}

.silder-prj button.slick-prev.slick-arrow {
    left: 0
}

.silder-prj button.slick-next.slick-arrow {
    right: 0
}

.silder-prj button.slick-arrow:hover {
    color: #fff !important
}

.silder-prj button.slick-arrow:hover {
    background: rgba(255, 255, 255, .5);
}

.box-3 h4 {
    margin: 0;
    font-size: 18px;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.box-3 {
    margin-top: 20px;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.grid-6 {
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.grid-6-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 10px;
    overflow: hidden;
}

.grid-6-img img {
    max-width: 100%;
}

.grid-6-img {
    position: relative;
    overflow: hidden;
}

.grid-6-item h4 {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

.grid-6-hide {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    text-align: center;
    color: #fff;
    border: 10px solid #000000;
    background: rgba(35, 32, 32, 0.6);
    -webkit-transition: all 0.33s ease 0s;
    -o-transition: all 0.33s ease 0s;
    transition: all 0.33s ease 0s;
}

.grid-6-item:hover .grid-6-hide {
    bottom: 0;
    height: 100%;
}

.grid-6-hide:after {
    content: "\f06e";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -18px;
}

.grid-7 {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
}

.grid-7-item {
    display: inline-block;
    width: 33.333%;
    padding: 10px;
    padding-bottom: 0;
}

.grid-7-info {
    border: 1px solid #dfdfdf;
}

.grid-7-item img {
    max-width: 100%;
}

.grid-7-des {
    display: table;
    width: 100%;
    font-size: 14px;
}

.grid-7-icon {
    display: table-cell;
    width: 84px;
    background: #232020;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 12px;
}

.grid-7-text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: normal;
}

.grid-7-text h4 {
    font-size: 18px;
    color: #232020;
    margin: 0;
    padding-bottom: 6px;
}

span.avatar {
    position: absolute;
    top: -28px;
    left: -91px;
    width: 100px;
    height: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background: #fff;
    z-index: 888;
}

span.avatar img {
    border-radius: 50%;
    max-width: 100%;
}

.client-page .panel-group {
    padding-left: 86px;
    position: relative;
}

.client-page .panel-group .panel {
    margin-bottom: 66px;
}

.client-page {
    margin-top: 60px;
}

.client-page h4.panel-title a {
    padding-left: 16px;
}

.client-page .panel-body p {
    line-height: 24px
}

/* Mai style */
.mainmenu .language {
    display: inline-block;
}

.proDetail h5 {
    font-size: 18px;
    color: #bc0808;
    font-weight: 500;
    text-transform: uppercase;
}

.proDetail h5 i {
    border-radius: 50%;
    border: 1px solid #bc0808;
    padding: 3px 5px;
    margin-right: 10px;
}

.notFound {
    margin-bottom: 119px;
}
@media(max-width: 991px) {
    .notFound {
        margin-bottom: 0;
    } 
}


/*Menu child when responsive*/

.btn-nav {
    display: none;
}

@media (min-width:1360px) {
    .header .container {
        width: 1340px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1180px;
    }
}

@media (max-width:1360px) {
    .mainmenu ul li {
        padding: 0 7px;
    }
}

@media (max-width:1200px) {
    .mainmenu ul li {
        padding: 0 2px;
    }
    .mainmenu ul li a {
        font-size: 11px;
        letter-spacing: -0.5px;
    }
    .des-info h4 {
        font-size: 60px
    }
    .t-header-1 h1 {
        font-size: 40px
    }
    footer.footer li:before {
        margin: 0 3px;
    }
}

@media (min-width:992px) {
    .mb-tab {
        display: block !important;
    }
}

@media (max-width:992px) {
    .img-ab {
        margin-top: 40px
    }
    .page {
        min-height: inherit;
        margin-bottom: inherit !important;
    }
    /*For menu*/
    .mainmenu .language {
        display: block;
        margin-top: 10px;
    }
    .mainmenu ul li a {
        font-size: 12px;
        letter-spacing: 0
    }
    .btn-menu {
        display: block;
    }
    .btn-menu span {
        background: #000;
        height: 3px;
        margin-bottom: 5px;
        display: block;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    ul.menu li {
        display: block;
        border-left: none;
        border-bottom: 1px solid #eee;
        padding: 0
    }
    ul.menu li a {
        padding: 11px;
        display: block;
        color: #fff;
    }
    a.menu-page.active-menu {
        right: 260px;
    }
    #menu.open-sub {
        right: 0;
    }
    #menu {
        border-left: #fff solid 1px;
        bottom: 0;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        position: fixed;
        right: -250px;
        text-align: left;
        top: 0;
        z-index: 999;
        width: 250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 0;
        background: rgba(72, 66, 66, 0.8);
        height: 100%
    }
    span.icon {
        position: absolute;
        right: 0;
        top: 0;
        background: #151515;
        width: 40px;
        z-index: 9999;
        height: 38px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-left: 1px solid rgba(167, 167, 167, 0.45);
        cursor: pointer;
    }
    ul.menu ul.sub {
        position: relative;
        width: auto;
        height: 0;
        opacity: 1;
        overflow: hidden;
        visibility: visible;
        z-index: 999;
        border: none;
        display: block;
        top: inherit;
        bottom: inherit !important;
    }
    ul.menu ul.sub.showchild {
        height: auto;
    }
    span.icon:after {
        content: "\f067";
        font: normal normal normal 14px/1 FontAwesome;
    }
    span.icon.open-icon:after {
        content: "\f068";
    }
    .mb-tab {
        display: none;
    }
    .btn-nav {
        background: #313131;
        border-radius: 5px 5px 0 0;
        color: #fff !important;
        display: block;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 17px;
        position: relative;
        text-transform: uppercase;
        margin-top: 6px;
        text-decoration: none !important;
        z-index: 99;
    }
    .btn-nav:after {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        content: "";
        margin-top: -3px;
        position: absolute;
        top: 50%;
        right: 20px;
    }
    .btn-nav.open-nav:after {
        border-color: transparent transparent #fff;
        border-width: 0 6px 6px 6px;
    }
    .childpage .page {
        overflow: hidden;
        min-height: 100%;
        margin-bottom: 0 !important;
    }
    body,
    html {
        height: inherit;
    }
    .mainhome {
        margin-top: 20px;
        padding-bottom: 20px!important
    }
    .des-info h4 {
        font-size: 40px
    }
    .t-header-1 h1 {
        font-size: 30px
    }
    .box1-img {
        margin: 0;
        padding-bottom: 20px;
        float: none;
        width: auto;
        text-align: center;
    }
    .box1-left {
        width: auto;
        margin-bottom: 20px;
    }
    .t-header-1 {
        display: block;
    }
    .col-f1 {
        float: none;
        width: auto;
        text-align: center;
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #cccccc36;
        margin-bottom: 15px;
    }
    .col-f2 {
        float: none;
        width: auto;
        text-align: center;
        border-bottom: 1px solid #cccccc36;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .col-f3.share {
        float: none;
        width: auto;
        text-align: center;
    }
    header.header {
        padding: 13px 0;
    }
    .logo {
        float: none;
        width: auto;
    }
    .wrapmenu {
        padding: 0
    }
    .box1-info {
        padding-right: 0
    }
    .grid1 {
        margin-top: 20px
    }
    .mainpage {
        padding-top: 20px
    }
    .avd-left {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .maincontent {
        padding-bottom: 20px !important
    }
    .grid-5-item h4 {
        font-size: 16px
    }
    .mainpage.thank-page {
        background: none
    }
    .widget-tk-info {
        margin-left: 0
    }
    .cnt-right {
        float: none;
        width: auto;
        padding-top: 20px;
    }
    .info-adress {
        border: none
    }
    .cnt-left {
        float: none;
        width: auto;
        padding-right: 0;
    }
    .box-address {
        border: 1px solid #d0d0d0;
    }
    .img-adress {
        text-align: center;
    }
}

@media (max-width:800px) {
    .page-career {
        background: none
    }
    .grid-7-item {
        width: 50%;
    }
    .grid-5-item {
        width: 50%;
    }
    .grid-5-item img {
        width: 100%
    }
    .page_mainslider img.bgimg {
        display: block;
    }
    .page_mainslider .infobanner {
        min-height: inherit;
    }
    .page_mainslider .bgslider {
        background: none !important;
        height: auto !important;
        min-height: auto
    }
    .grid1-item {
        width: 50%;
    }
    .des-info h4 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .des-info p {
        margin-bottom: 0;
        font-size: 18px;
    }
    .des-info {
        max-width: inherit;
        text-align: center;
        float: none;
    }
    button.slick-prev.slick-arrow {
        left: 0
    }
    button.slick-next.slick-arrow {
        right: 0
    }
    .des-info {
        padding-top: 0 !important
    }
    header.header {
        position: relative;
    }
}

@media (max-width:640px) {
    .page-banner {
        min-height: inherit;
    }
    .widget-tk-info h4 {
        font-size: 40px;
    }
    .widget-thankyou .thank-adress td {
        display: block;
    }
    .grid-6-item {
        width: 50%;
    }
    .grid-2-item {
        display: block;
        width: auto;
    }
    .box1-info {
        font-size: 16px;
        line-height: 25px;
    }
    .t-header-1 p {
        font-size: 20px;
    }
    .t-header-1 h1 {
        font-size: 24px;
    }
    .des-info h4 {
        font-size: 20px;
    }
    .page_mainslider button.slick-arrow {
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .inner-banner h4 {
        font-size: 30px;
    }
    .t-header-2 {
        font-size: 30px
    }
    .t-header-3 {
        font-size: 16px
    }
}

@media (max-width:480px) {
    .box-capcha {
        display: block;
        width: auto;
    }
    span.sys {
        position: relative;
        right: inherit;
    }
    .grid-7-item {
        width: 100%;
    }
    .grid-5-item h4 {
        font-size: 14px;
        letter-spacing: 0
    }
    .form-cnt .grp-btn {
        display: block;
        width: auto;
        float: none;
        text-align: left;
        margin-top: 13px;
    }
    .form-cnt .form-item label {
        display: block;
        float: none;
        width: auto;
        padding-top: 0;
    }
    .form-cnt .form-item .form-ipt {
        margin-left: 0;
    }
    .form-cnt .form-item {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .grid1-item {
        width: 100%;
    }
    .grid1-item img {
        width: 100%
    }
    .grid-2-info p {
        line-height: 23px;
        font-size: 13px;
    }
    .grid-5-des-hide a {
        margin: 0;
        font-size: 12px;
        letter-spacing: 0
    }
}

@media (max-width:370px) {
    .grid-5-item {
        width: 100%;
    }
    .grid-6-item {
        width: 100%;
    }
}